In [1]:
import requests
import csv
import datetime

# URL of the CSV file
url = "https://data.boston.gov/dataset/7ae458ed-cd6a-47fa-8571-e323e488b70b/resource/dd657c02-3443-4c00-8b29-56a40cfe7ee4/download/tmpk9ahbct2.csv"

# File name of the downloaded CSV file
filename = "data_" + datetime.date.today().strftime("%Y-%m-%d") + ".csv"

# Send HTTP GET request to download CSV file
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse CSV data and write to file
    csv_data = response.content.decode('utf-8')
    with open(filename, 'w') as f:
        f.write(csv_data)
    print(f"File {filename} downloaded successfully.")
else:
    print("Failed to download CSV file.")

File data_2023-02-25.csv downloaded successfully.

In [2]:
import pandas as pd

# File name of the downloaded CSV file
filename = "data_2023-02-25.csv" # Replace with the actual file name

# Read CSV data into a DataFrame
df = pd.read_csv(filename)

                          metric_name         score_calculated_ts  target  \
0  311 CONSTITUENT EXPERIENCE SURVEYS  2023-02-25 07:54:35.481131     4.0
1  311 CONSTITUENT EXPERIENCE SURVEYS   2023-02-22 07:55:35.15645     4.0
2                       BFD INCIDENTS   2023-02-19 07:54:18.08604     NaN
3                       BFD INCIDENTS  2023-02-15 07:58:31.311868     NaN
4                       BFD INCIDENTS  2023-02-11 07:53:56.857206     NaN

                                        metric_logic  day_score  \
0  sum(numerator_value)/sum(denominator_value)/ta...        NaN
1  sum(numerator_value)/sum(denominator_value)/ta...   1.125000
2               historical_average / current_average   1.108603
3               historical_average / current_average   1.004995
4               historical_average / current_average   0.828608

   day_numerator  day_denominator  week_score  week_numerator  \
0            NaN              NaN     1.25000       20.000000
1       9.000000              2.0     1.25000       20.000000
2     215.068966            194.0     0.91966      215.068966
3     215.068966            214.0     0.91966      215.068966
4     223.724138            270.0     0.55633      223.724138

   week_denominator  month_score  month_numerator  month_denominator  \
0          4.000000     1.163043        107.00000           23.00000
1          4.000000     1.163043        107.00000           23.00000
2        233.857143     1.074163        217.88189          202.83871
3        233.857143     1.074163        217.88189          202.83871
4        402.142857     1.074163        217.88189          202.83871

   quarter_score  quarter_numerator  quarter_denominator  latest_score_flag
0       1.142857         256.000000            56.000000                  1
1       1.142857         256.000000            56.000000                  0
2       0.962084         211.585294           219.923913                  0
3       0.962084         211.585294           219.923913                  0
4       0.962084         211.585294           219.923913                  0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43706 entries, 0 to 43705
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   metric_name          43706 non-null  object
 1   score_calculated_ts  43706 non-null  object
 2   target               32484 non-null  float64
 3   metric_logic         43706 non-null  object
 4   day_score            28772 non-null  float64
 5   day_numerator        33828 non-null  float64
 6   day_denominator      29098 non-null  float64
 7   week_score           40528 non-null  float64
 8   week_numerator       42130 non-null  float64
 9   week_denominator     40756 non-null  float64
 10  month_score          42974 non-null  float64
 11  month_numerator      43226 non-null  float64
 12  month_denominator    43076 non-null  float64
 13  quarter_score        42835 non-null  float64
 14  quarter_numerator    43008 non-null  float64
 15  quarter_denominator  43397 non-null  float64
 16  latest_score_flag    43706 non-null  int64
dtypes: float64(13), int64(1), object(3)
memory usage: 5.7+ MB

In [3]:
df

,metric_name,score_calculated_ts,target,metric_logic,day_score,day_numerator,day_denominator,week_score,week_numerator,week_denominator,month_score,month_numerator,month_denominator,quarter_score,quarter_numerator,quarter_denominator,latest_score_flag
0,311 CONSTITUENT EXPERIENCE SURVEYS,2023-02-25 07:54:35.481131,4.0,sum(numerator_value)/sum(denominator_value)/ta...,NaN,NaN,NaN,1.250000,20.000000,4.000000,1.163043,107.00000,23.00000,1.142857,256.000000,56.000000,1
1,311 CONSTITUENT EXPERIENCE SURVEYS,2023-02-22 07:55:35.15645,4.0,sum(numerator_value)/sum(denominator_value)/ta...,1.125000,9.000000,2.0,1.250000,20.000000,4.000000,1.163043,107.00000,23.00000,1.142857,256.000000,56.000000,0
2,BFD INCIDENTS,2023-02-19 07:54:18.08604,NaN,historical_average / current_average,1.108603,215.068966,194.0,0.919660,215.068966,233.857143,1.074163,217.88189,202.83871,0.962084,211.585294,219.923913,0
3,BFD INCIDENTS,2023-02-15 07:58:31.311868,NaN,historical_average / current_average,1.004995,215.068966,214.0,0.919660,215.068966,233.857143,1.074163,217.88189,202.83871,0.962084,211.585294,219.923913,0
4,BFD INCIDENTS,2023-02-11 07:53:56.857206,NaN,historical_average / current_average,0.828608,223.724138,270.0,0.556330,223.724138,402.142857,1.074163,217.88189,202.83871,0.962084,211.585294,219.923913,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43701,311 CONSTITUENT EXPERIENCE SURVEYS,2018-03-13 14:36:51,4.0,sum(numerator_value)/sum(denominator_value)/ta...,NaN,NaN,NaN,NaN,NaN,NaN,1.075000,43.00000,10.00000,1.000000,156.000000,39.000000,0
43702,GRAFFITI ON-TIME %,2021-10-24 07:25:51.221647,0.8,sum(numerator_value)/sum(denominator_value)/ta...,NaN,NaN,NaN,0.395833,19.000000,60.000000,0.768634,198.00000,322.00000,0.713429,476.000000,834.000000,0
43703,SIGN INSTALLATION ON-TIME %,2021-11-02 07:26:52.805246,0.8,sum(numerator_value)/sum(denominator_value)/ta...,0.795455,7.000000,11.0,0.301724,7.000000,29.000000,0.411932,29.00000,88.00000,0.486707,227.000000,583.000000,0
43704,PARKS MAINTENANCE ON-TIME %,2021-11-02 07:30:08.607259,0.8,sum(numerator_value)/sum(denominator_value)/ta...,1.250000,8.000000,8.0,0.937500,24.000000,32.000000,0.923252,243.00000,329.00000,0.962942,1003.000000,1302.000000,0
43705,TREE MAINTENANCE ON-TIME %,2021-11-02 07:30:24.382527,0.8,sum(numerator_value)/sum(denominator_value)/ta...,0.937500,3.000000,4.0,1.234940,82.000000,83.000000,1.196581,224.00000,234.00000,1.158425,759.000000,819.000000,0